In [1]:
import numpy as np
import pandas as pd
import pyodbc
import matplotlib.pyplot as plt

In [2]:
print(pyodbc)
con = pyodbc.connect('Driver={SQL Server};'
                      'Server=CECGENSQL4\MECZAPRSK01;'
                      'Database=rsq_model;'
                      'Trusted_Connection=yes;')
print(con)

<module 'pyodbc' from 'C:\\ProgramData\\Anaconda3\\envs\\DLENV\\lib\\site-packages\\pyodbc.cp37-win_amd64.pyd'>
<pyodbc.Connection object at 0x000002714A6BB920>

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=server_name;'
                      'Database=db_name;'
                      'Trusted_Connection=yes;')

In [3]:
query = "SELECT top 10 * FROM model.hub_product"
TM = pd.read_sql(query, con)

#cursor = conn.cursor()
#print(cursor)
#cursor.execute('SELECT * FROM model.hub_product where  ')

In [4]:
#TM.head(10)

#for row in cursor:
#    print(row)

,product_sqn,product_idntfr,type_id,load_id,source_object_id,load_dts
0,6,7388222_0_AM731RPTIU_POSI_0_BBG_CA_UW,1,0,0,2018-06-27 10:13:34.087
1,7,7568011_0_RA771CREDSPX_CDX_NA_HY_29_5Y_CSC_HOL...,1,0,0,2018-06-27 10:13:34.087
2,8,7583468_0_ZUTIL_PG_STRAT1,1,0,0,2018-06-27 10:13:34.087
3,9,7569171_0_RA771CREDSPX_CDX_NA_HY_29_5Y_COMMUN_...,1,0,0,2018-06-27 10:13:34.087
4,10,7590859_0_AM730RPTIE_POSI_1,1,0,0,2018-06-27 10:13:34.087
5,11,MUREX_PT_MINI_4_1222,1,0,0,2018-06-27 10:13:34.087
6,12,7697749_0_ZUTIL_PG_STRAT1,1,0,0,2018-06-27 10:13:34.087
7,13,7369968_0_ZZZ_RA771_RAC_ITRX_EUR_X_27_5_ARCELO...,1,0,0,2018-06-27 10:13:34.087
8,14,BBG_FRPH_UW,1,0,0,2018-06-27 10:13:34.087
9,15,7496992_0_RA771CREDSPX_ITRX_EUR_S28_5Y_DEUTSCH...,1,0,0,2018-06-27 10:13:34.087

In [5]:
#TM.shape

(10, 6)

In [ ]:
query = """
SELECT   InstrumentIDRisque, vecteurPnlInstrument
  FROM [rsq_model].[MesureRisqueMarche].[V_PnLRMInstrumentsVecteur]
  where sessiondate = '2019-12-31' and FrequenceSessionCode = 'M' and IndicateurDonneePubliee = 1 
"""
TM = pd.read_sql(query, con)

In [ ]:
TM.head(10)

In [ ]:
vecteurs = TM['vecteurPnlInstrument']

In [ ]:
def split2 (text):
    return text.split(";")

In [ ]:
from datetime import datetime

now = datetime.now()

current_time = now.strftime("%H:%M:%S")
print("Current Time =", current_time)

In [ ]:
result  =  map(split2, vecteurs)
seq = np.array(list(result))
seq.shape

In [ ]:
vecteurs.shape

In [ ]:
4000 * 3500

In [ ]:
seq_float = seq.reshape(1000, 3000).astype(np.float)

In [ ]:
seq_sum = np.sum(seq_float, axis=0)

In [ ]:
seq_float.shape

In [ ]:
seq_sum.shape

In [ ]:
now = datetime.now()

current_time = now.strftime("%H:%M:%S")
print("Current Time =", current_time)