In [16]:
import numpy as np
import pandas as pd
import pyodbc
import matplotlib.pyplot as plt

In [17]:
print(pyodbc)
con = pyodbc.connect('Driver={SQL Server};'
                      'Server=CECGENSQL4\MECZAPRSK01;'
                      'Database=rsq_model;'
                      'Trusted_Connection=yes;')
print(con)

<module 'pyodbc' from 'C:\\ProgramData\\Anaconda3\\envs\\DLENV\\lib\\site-packages\\pyodbc.cp37-win_amd64.pyd'>
<pyodbc.Connection object at 0x000002413CE81780>

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=server_name;'
                      'Database=db_name;'
                      'Trusted_Connection=yes;')

In [18]:
query = "SELECT top 10 * FROM model.hub_product"
TM = pd.read_sql(query, con)

#cursor = conn.cursor()
#print(cursor)
#cursor.execute('SELECT * FROM model.hub_product where  ')

In [20]:
TM.head(10)

#for row in cursor:
#    print(row)

,product_sqn,product_idntfr,type_id,load_id,source_object_id,load_dts
0,6,7388222_0_AM731RPTIU_POSI_0_BBG_CA_UW,1,0,0,2018-06-27 10:13:34.087
1,7,7568011_0_RA771CREDSPX_CDX_NA_HY_29_5Y_CSC_HOL...,1,0,0,2018-06-27 10:13:34.087
2,8,7583468_0_ZUTIL_PG_STRAT1,1,0,0,2018-06-27 10:13:34.087
3,9,7569171_0_RA771CREDSPX_CDX_NA_HY_29_5Y_COMMUN_...,1,0,0,2018-06-27 10:13:34.087
4,10,7590859_0_AM730RPTIE_POSI_1,1,0,0,2018-06-27 10:13:34.087
5,11,MUREX_PT_MINI_4_1222,1,0,0,2018-06-27 10:13:34.087
6,12,7697749_0_ZUTIL_PG_STRAT1,1,0,0,2018-06-27 10:13:34.087
7,13,7369968_0_ZZZ_RA771_RAC_ITRX_EUR_X_27_5_ARCELO...,1,0,0,2018-06-27 10:13:34.087
8,14,BBG_FRPH_UW,1,0,0,2018-06-27 10:13:34.087
9,15,7496992_0_RA771CREDSPX_ITRX_EUR_S28_5Y_DEUTSCH...,1,0,0,2018-06-27 10:13:34.087

In [21]:
TM.shape

(10, 6)

In [29]:
query = """
SELECT top 2 *
  FROM [rsq_model].[MesureRisqueMarche].[V_PnLRMInstrumentsVecteur]
  where sessiondate = '2019-12-31'  
"""
TM = pd.read_sql(query, con)

In [30]:
TM.shape

(2, 60)

In [31]:
TM.head(10)

,SessionDate,SessionID,DynamicIdentifier,DynamicID,CaracteristiqueScenarioLibelle,IndicateurDonneePubliee,FrequenceSessionCode,TypeScenario,HorizonCalcul,NombreObservation,...,ContractSize,VocationImmobiliere,ClasseImmobiliere,StatutActifImmobilier,InstrumentStartDate,InstrumentEndDate,InstrumentCurIndicator,load_id,source_object_id,load_dts
0,2019-12-31,2296,CDPQM_20191231_Monthly_1,CDPQM_20191231_Monthly_1,Historique_BS_4W_3000,False,M,bootstrap,20,3000,...,None,None,None,None,None,None,None,157834,1853,2020-01-13 19:17:27.163
1,2019-12-31,2296,CDPQM_20191231_Monthly_1,CDPQM_20191231_Monthly_1,Historique_BS_4W_3000,False,M,bootstrap,20,3000,...,None,None,None,None,None,None,None,157834,1853,2020-01-13 19:17:27.163

In [32]:
TM['CaracteristiqueScenarioLibelle']

0    Historique_BS_4W_3000
1    Historique_BS_4W_3000
Name: CaracteristiqueScenarioLibelle, dtype: object

In [33]:
vecteurs = TM['vecteurPnlInstrument']

In [34]:
vecteurs

0    23495.5193467529;139069.747994514;2491.6479155...
1    23502.39812107;139066.446206138;2487.326815499...
Name: vecteurPnlInstrument, dtype: object

In [63]:
def split2 (text):
    return text.split(";")

In [43]:
#vecteurs[0].split(";")

In [71]:
result  =  map(split2, vecteurs)
seq = np.array(list(result))
seq.shape

(2, 3000)

In [50]:
split(vecteurs[0])

In [51]:
vecteurs.shape

(2,)